BETTER_AUTH_SECRET=""
DATABASE_URL="postgresql://postgres:password@localhost:5432/agroanalise"

MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="agroanalise"
MINIO_USE_SSL="false"

OPENAI_API_KEY=""
